.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.logo {
    height: 100px;
    width: 100px;
}

.navLinks {
    display: flex;
    gap: 15px;
}
.navLinks a:hover {
    color: blue;
}